{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set minimum_order_value = cart.channel.minimumOrderValue %}
{% set total = sylius_order_items_subtotal(cart) %}

{% if total >= minimum_order_value %}
    {% set button_class = "ui huge primary fluid labeled icon button" %}
{% else %}
    {% set button_class = "ui huge primary fluid labeled icon button disabled" %}
    {% set formatted_minimum = money.convertAndFormat(minimum_order_value) %}
    {% set formatted_difference = money.convertAndFormat(minimum_order_value - total) %}
    <div class="ui icon negative message">
        <i class="warning icon"></i>
        <div class="content">
            <div class="header">{{ 'nedac_sylius_minimum_order_value_plugin.ui.attention'|trans }}</div>
            <p id="nedac-sylius-minimum-order-value-plugin-message" {{ sylius_test_html_attribute('minimum-order-value-plugin-message') }}>{{ 'nedac_sylius_minimum_order_value_plugin.ui.minimum_not_yet_reached'|trans({'%minimumOrderValue% ': formatted_minimum, '%difference%': formatted_difference})|raw('br') }}</p>
        </div>
    </div>
{% endif %}
<a href="{{ path('sylius_shop_checkout_start') }}" class="{{ button_class }}" id="nedac-checkout-button" {{ sylius_test_html_attribute('checkout-button') }}><i class="check icon"></i> {{ 'sylius.ui.checkout'|trans }}</a>
